/* VARIABLES */
:root {
  --color-one: #181a1b;
  --color-two: #e8e6e3;
  --color-three: #ffffff;
  --color-four: #005ccc;
  --color-five: rgba(47, 50, 53, 0.5);
  --color-six: #212427;
  --color-seven: #2f3235;
  --color-eight: #323537;
  --color-nine: #3d4043;
  --color-ten: #c5c1b9;
  --color-twelve: #351010;
}

[color='white'] {
  --color-one: #f9f7f7;
  --color-two: #112d4e;
  --color-three: #ffffff;
  --color-four: #005ccc;
  --color-five: rgba(135, 165, 201, 0.5);
  --color-six: #dbe2ef;
  --color-seven: #87a5c9;
  --color-eight: #3d3d3d;
  --color-nine: #3d4043;
  --color-ten: #6b6b6b;
  --color-twelve: #ffabab;
}

/* GLOBAL */
html,
body,
input,
textarea,
select,
button {
  background-color: var(--color-one);
  color: var(--color-two);
}
::placeholder {
  color: var(--color-two);
}
::selection {
  background-color: var(--color-four);
  color: var(--color-three);
}
::-moz-selection {
  background-color: var(--color-four);
  color: var(--color-three);
}
::-webkit-scrollbar {
  background-color: var(--color-six);
  color: var(--color-ten);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-seven);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-eight);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-nine);
}
::-webkit-scrollbar-corner {
  background-color: var(--color-one);
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  scrollbar-color: var(--color-seven) var(--color-six);
}

body,
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

ul {
  list-style: none;
}

button,
input[type='button'] {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* HELP */
.help-menu-bg {
  position: fixed;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-five);
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-menu {
  background-color: var(--color-one);
  box-shadow: 5px 10px 8px var(--color-one);
  width: 768px;
  height: 80vh;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  overflow-y: auto;
}

.help-menu h1,
.help-menu p {
  padding: 5px;
}

.help-menu ul {
  list-style: disc;
  padding-left: 20px;
}

.help-menu li {
  padding: 5px;
}

.help-menu ul ul {
  list-style: circle;
}

/* TEXTAREA */
.middle {
  height: calc(100% - 98px);
}

#main-textarea {
  width: 100vw;
  height: 100%;
  resize: none;
  border: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
  padding: 0 20px;
}

#main-textarea:empty:not(:focus):before {
  content: 'Type here...';
  color: var(--color-two);
  font-style: italic;
}

/* Footer */
footer {
  background-color: var(--color-six);
  height: 50px;
  display: flex;
  font-size: medium;
}

footer p {
  padding-top: 5px;
  padding-left: 25px;
}

#corrections {
  background-color: darkmagenta;
  color: lightsteelblue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  margin-right: 10px;
  margin-left: auto;
  transition: background-color 500ms ease-out;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 3px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* MEDIA */
@media (max-width: 768px) {
  .help-menu {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
